@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');


:root {
    --background-image: url("../images/Frame\ 1.png");
  --primary-color:#4ab96c;
  --primary-color-dark: #6132b4;
  --text-dark:#ffffff;
  --text-light: #eeeeee;
  --extra-light: #efefef;
  --white: #ffffff;
  --max-width: 1200px;
  --body-bg: #000000;
  --color:#131313;
  --about-clr:#000;
  	--card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;
  /* --background-image: url("../images/Frame\ 1\ \(1\).png");
  --primary-color:#4ab96c;
  --primary-color-dark: #6132b4;
  --text-dark:#00241b;
  --text-light: #737373;
  --extra-light: #e9e9e9;
  --white: #ffffff;
  --max-width: 1200px;
  --body-bg: #ffffff;
  --about-clr:#161922;
  --color:#ffffff;
  	--card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86; */
}
.darkmode{
  /* --background-image: url("../images/Frame\ 1.png");
  --primary-color:#4ab96c;
  --primary-color-dark: #6132b4;
  --text-dark:#ffffff;
  --text-light: #eeeeee;
  --extra-light: #efefef;
  --white: #ffffff;
  --max-width: 1200px;
  --body-bg: #000000;
  --color:#131313;
  --about-clr:#000;
  	--card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86; */
}

body {
  background-image: var(--background-image);
  background-color: var(--body-bg);
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Scales the image to cover the entire background area */
  background-position: center center; /* Centers the image horizontally and vertically */
  background-attachment: fixed; /* Keeps the image fixed in the viewport while scrolling */
  /* background-color: #cccccc; / */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section__container {
    margin-top: 68px;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 220px;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;


}

body {
  font-family: "Poppins", sans-serif;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 41px;
    right: 189px;
    border-color: var(--primary-color);
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}
.nav__logo {
    width: 29%;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}
.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f09814;
  background-color: #fff8f5;
  border-radius: 5rem;
}

.header__container h2 img {
  max-width: 25px;
}

.header__container h1 {
  animation: appear linear;
  animation-timeline: view();
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
  letter-spacing: -4px;
}

.header__container h1 span {
  color: var(--primary-color);

}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 2rem;
  text-align: center;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 52%;
    margin: 0 auto;
}

.header__btns a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__btns a span {
  padding: 5px 11px;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.header__btns a:hover span {
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.header__container > img {
  position: absolute;
  max-width: 40px;
  padding: 7px;
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.header__container > img:nth-child(1) {
    top: 9%;
    left: 31%;
    transform: translate(-50%, -50%);
}

.header__container > img:nth-child(2) {
top: 41%;
    left: 63rem;


    transform: translateY(-50%);
  /* transform: translateY(-50%); */
}

.header__container > img:nth-child(3) {
    top: 62%;
    left: 34%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(4) {
    top: 13%;
    right: 21%;
  transform: translate(-50%, -50%);
}

.header__container > img:nth-child(5) {
    top: 57%;
    left: 66rem;
    transform: translateY(-50%);
}

.header__container > img:nth-child(6) {
    top: 44%;
    right: 70%;
    transform: translate(-50%, -50%);
}
.header__container > img:nth-child(7) {
top: 29%;
    right: 58%;
    transform: translate(-50%, -50%);

}
.header__container > img:nth-child(8) {
    top: 51%;
    right: 69%;
    transform: translate(-50%, -50%);

}
/* div.bgdraw {
  	width: 100%;
      min-height: 100vh;
      background-size: cover;
} */
div.bgdraw img {
  position: absolute;
  top: 250px;
}


/* ------------------------------About---------------------------------------------------------- */

#about {
    margin-top: -12rem;
}
.about_container {

}
.about_container h4 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding: 0.5rem 1rem;
    display: flex
;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #f09814;
    background-color: #fff8f5;
    border-radius: 5rem;
}
.about_items {
  display: flex;
}
.about_left {
  width: 50%;
}
.about_left img {
    display: block;
    width: 90%;
    margin-left: 2rem;
}
.about_right {
  width: 50%;
}
.about_right span {
  color: var(--primary-color);
}
.about_right h3 {
font-size: 40px;
    letter-spacing: -2px;
    color: var(--text-dark);
    width: 75%;
    line-height: 45px;
}
.about_right ul {
  margin-top: 18px;
}
.about_right ul li {
    display: flex
;
    align-items: center;
    background-color: var(--about-clr);
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 22px;
    padding-right: 43px;
    padding-bottom: 14px;
    width: 85%;
}
.about_right ul li div.left {
    width: 10%;
    background-color: var(--body-bg);
    padding: 9px;
    border-radius: 23px;

}
.about_right ul li:hover {}
.about_right ul li div.left div.icons  {
  
}
.about_right ul li div.right {
}
.about_right ul li div.right h5 {
    padding-left: 25px;
    font-size: 18px;
    color: var(--primary-color);
    letter-spacing: -1px;
    padding-bottom: 11px;
}
.about_right ul li div.right p {
  padding-left: 25px;
    padding-bottom: 13px;
    color: var(--extra-light);
}


/* ---------------------------About End---------------------------------------------------- */
#services h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f09814;
  background-color: #fff8f5;
  border-radius: 5rem;
}
#services {
  margin-top: 6rem;
}
#services h2 img {
  max-width: 25px;
}
#services span {
  color: var(--primary-color);
}
.serv_container {
margin-top: 45px;
    display: flex
;
}
.serv_left {
width: 50%;
}
.serv_right {
width: 50%;
}
.serv_left h3 {
    color: var(--text-dark);
    font-size: 37px;
    width: 62%;
    margin-left: 225px;
    line-height: 35px;
    letter-spacing: -1px;
}
.serv_right p {
    color: var(--text-dark);
    font-size: 15px;
    width: 71%;
} 
.serv_items {
display: flex
;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.serv_items .item {
     width: 33%;
    margin-bottom: 40px;
    margin-right: 4px;
} 
.serv_items .item img {
   width: 2%;
}
.serv_items .item h4 {
  
}
.serv_items .item p {
  
}

.section__container3 h6 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding: 0.5rem 1rem;
    display: flex
;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #f09814;
    background-color: #fff8f5;
    border-radius: 5rem;
}
.room__grid {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.room__card {
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 5px 2px 24px #252525; */
    background-color: var(--body-bg);
    width: 30%;
}

.room__card__image {
  position: relative;
  isolation: isolate;
}

.room__card__icons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 1;
}

.room__card__icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.room__card__icons span:nth-child(1) {
  color: #f472b6;
}

.room__card__icons span:nth-child(2) {
  color: #c084fc;
}

.room__card__icons span:nth-child(3) {
  color: #60a5fa;
}

.room__card__details {
  padding: 1rem;
}

.room__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--extra-light);
}

.room__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.room__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.room__card h5 span {
  font-size: 1.1rem;
  color: var(--text-dark);
}
button.btn_card {
      padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 130px;
}
.section__container3 {
margin-left: 100px;
    margin-right: 90px;
    margin-top: 68px;
}

.section__container3 h3 {
    text-align: center;
    font-size: 55px;
    width: 48%;
    line-height: 60px;
    letter-spacing: -1px;
    color: var(--text-dark);
    margin: 0 auto;
;
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
}

.card img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h2 {
  font-size: 22px;
  margin-right: 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.card p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.card button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
}
#portfolio {
  margin-top: 10rem;
}
.port_container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f09814;
  background-color: #fff8f5;
  border-radius: 5rem;
}
.port_container h2 img {
max-width: 25px
}
.port_container h3 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    width: 50%;
    line-height: 4.5rem;
    letter-spacing: -4px;
    margin: 0 auto;
}
.port_container span {
  color: var(--primary-color);
}

/* .................................................................gallry................................ */
#gallery {
	padding: 90px;

}
#gallery h6 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 4rem;
    padding: 0.5rem 1rem;
    display: flex
;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #f09814;
    background-color: #fff8f5;
    border-radius: 5rem;
}
#gallery ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
  margin-bottom: 100px;
}
#gallery ul li {
width: 23%;
    margin-right: 7px;
    margin-bottom: -92px;
}
#gallery ul li:nth-child(even) {
  margin-top: 100px;
}
#gallery ul li img:hover {
}

#gallery ul li img {
	width: 100%;
	display: block;
  border-radius: 5px;
  filter: opacity(2px);
}
#gallery a.view_more {
    width: 100%;
    margin-right: 24px;
    padding: 10px 51px;
    background-color: #4ab96c;
    border-radius: 4px;
    /* border: 1px solid #c1c7d0; */
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: 14%;
    color: #fff;
}
.btn-3 {
    scale: 0.65;
    line-height: 1;
    text-decoration: none;
    display: flex
;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 22px;
    padding: 26px 24px 22px 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
    width: 15%;
    margin: 0 auto;
}

.btn-3 .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.btn-3:hover {
  background-color: #8f44fd;
}

.btn-3:hover .button__icon-wrapper {
  color: #8f44fd;
}

.btn-3 .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.btn-3:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.btn-3:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}


.btn-3 .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.btn-3:hover {
  background-color: #8f44fd;
}

.btn-3:hover .button__icon-wrapper {
  color: #8f44fd;
}

.btn-3 .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.btn-3:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.btn-3:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
/* ....................................Gallery Ebd............................ */
/* ------------------------------------contact--------------------------------- */
.container {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
padding: 66px 77px 66px 62px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-top: 100px;
    margin-left: 14rem;
    margin-bottom: 5rem;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--primary-color);
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  font-family: sans-serif;
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: var(--primary-color);
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* /// */

/* -----------------------------------contact end------------------------------------------ */
div.bottem {
margin-bottom: 80px;
    margin-left: 120px;
    margin-right: 120px;
}
div.bottem h3 {
    width: 51%;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 82px;
}
div.bottem ul {
	display: flex;
	margin-bottom: 60px;
  flex-wrap: wrap;
}
div.bottem ul li {
margin-right: 42px;
    width: 30%;
    padding: 20px 20px;
    background: var;
    background-color: var(--color);
    margin-bottom: 24px;
    border-radius: 10px;
}
/* div.bottem ul li:nth-child(4){
  margin-top: 0;
} */
/* div.bottem ul li:nth-child(even) {
  margin-top: 100px;
} */
/* 
div.bottem ul li:nth-child(3n) {
  margin-top: 200px;
} */
div.bottem ul li:last-child {
	margin-right: 0;
}
div.bottem ul li div.image_container {

}
div.bottem ul li div.image_container img {
	border-radius: 6px;
	display: block;
	width: 100%;
}
div.bottem ul li small.blue {
	display: block;
    margin-top: 28px;
	font-weight: 600;
	color:  #2756fb;
}
div.bottem ul li small {
	display: block;
    margin-top: 28px;
    font-weight: 600;
}
div.bottem ul li p {
	margin-top: 22px;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
}
div.bottem ul li a {
	display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
div.bottem a.butten {
	background: #2756fb;
    padding: 17px 28px;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    width: 20%;
    display: block;
}
.testimonials-section{
	width: 100%;
	padding: 0px 8%;
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: var(--primary-clr);
}
.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	background-color: var(--card-clr);
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: var(--heading-clr);
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: var(--heading-clr);
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text-clr);
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: var(--primary-clr);
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: var(--primary-clr) !important;
	color: #e9e9e9;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #434753 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: var(--primary-clr) !important;
}

.feedback__container {
  padding-bottom: 3rem;
}

.swiper {
  padding-block: 4rem 2rem;
  width: 100%;
  
}

.swiper-slide {
  min-width: 375px;
}

.feedback__card {
    padding: 1.5rem 1rem;
    width: 84%;
    border-radius: 0.5rem;
    background-color: #000;
    transition: 0.3s;
}

.feedback__card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.feedback__card .section__description {
  text-align: left;
}

.feedback__details {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.feedback__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback__user img {
  max-width: 50px;
  border-radius: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.feedback__user h4 {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-dark);
}

.feedback__user h5 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.feedback__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.feedback__rating span {
  font-size: 1rem;
  color: goldenrod;
}

.subscribe__content {
  padding: 5rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.subscribe__content .section__header {
  margin-bottom: 2rem;
  max-width: 750px;
  margin-inline: auto;
  color: var(--white);
}

.subscribe__content form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.subscribe__content input {
    width: 100%;
    padding-inline: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #00241b;
}

footer {
  background-image: url(../images/sssurf.svg);
  background-size: cover;
}

.footer__container {
    display: flex
;
    padding-top: 56px;
    justify-content: space-evenly;
    align-items: center;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__logo a {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--text-dark);
}

.footer__logo a span {
  color: var(--secondary-color);
}

.footer__col .section__description {
  margin-bottom: 2rem;
  text-align: left;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__socials a {
  padding: 4px 6px;
  font-size: 1.125rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__links a span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}
.section__container1 {
  background-color: var(--background-image);
  padding-bottom: 100px;
  margin-left: 90px;
}





  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

/* @media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }
} */


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
    overflow: hidden;
    padding: 0px 0;
    white-space: nowrap;
    /* margin-left: 128px; */
    /* margin-right: 113px; */
    background-color: #00241b;

}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 98px;
    margin: 0px 40px;
    width: 16%;
}


/* --------------------------------------------------------------------------- */

/* -------------------------contact--------------------------------------------- */

#section-wrapper{
    width: 100%;
    padding: 10px;
    margin-bottom: 19px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
h2.contact {
  color: var(--text-dark);
    font-size: 50px;
    width: 34%;
    margin: 0 auto;
    margin-bottom: 44px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    color: #fff;
    background-color: var(--primary-color);
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 26px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: var(--primary-color);
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: var(--primary-clr);
}

/* -------------------------------Project--------------------------------------------------------- */
.project { background-color: var(--ghost-white); }

.project .section-title { margin-block: 20px 60px; }

.filter-list {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 70px;
}

.filter-btn {
  color: var(--cool-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  padding: 11px 20px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
}

.filter-btn:is(:hover, :focus) { color: var(--raisin-black-1); }

.filter-btn.active {
  background-color: var(--white);
  color: var(--raisin-black-1);
  box-shadow: var(--shadow-4);
}

.project-card {
  position: relative;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.project-card .card-banner img { transition: var(--transition-2); }

.project-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.project-card .card-content {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background-color: var(--mustard);
  border-radius: var(--radius-10);
  padding: 30px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(calc(-50% + 20px));
  transition: var(--transition-2);
}

.project-card .card-tag {
  color: var(--raisin-black-1);
  font-size: var(--fs-9);
}

.project-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: translateY(-50%);
}

.banner__container {
    display: flex
;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

}

.banner__card {
      margin-top: 46px;
padding: 7px 18px;
    text-align: center;
    background-color: var(--extra-light);
    border-radius: 11%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)
}

.banner__card h4 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.banner__card p {
     font-size: 13px;
    color: #4ab96c;
    margin-bottom: 22px;
}

/* -----------------------------project end---------------------------------------------------------- */

/* ------------------responsive----------------------------------------- */

@media all and (max-width:1280px) {
  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
}
.btn-3 {
  width: 19%;
}
.footer__container {
    display: flex
;
    padding-top: 56px;
    margin-left: 14rem;
            justify-content: space-around;
    align-items: center;
}
}
/* ..................................768px................................ */
@media all and (max-width:768px) {

  .bgdraw {
    display: none;
  }
  nav {
        padding: 0rem 1rem;
  }
header.section__container {
    margin-top: -8px;
}
  .nav__links {
    display: none;
  }
  .nav__logo {
    width: 17%;
  }
  .header__container h2{
        font-size: 10px;
        padding: 2px 10px;
        margin-top: 1rem;
  }
  .header__container h1{
    margin-top: 10px;
        font-size: 46px;
        letter-spacing: -3px;
        width: 100%;
        line-height: 54px;
  }
  .header__container p {
    display: none;
  }
  .header__btns  {
    width: 73%;
  }
  .header__btns a {
    display: none;
  }
  .about_items {
    display: flex;
    flex-wrap: wrap;
  }
  .about_left {
    width: 100%;
  }
  div.icons {
  margin-top: -10rem;
  }
  .about_right {
    width: 100%;
    margin-left: 9rem;
  }
  .about_right h3 {
    width: 92%;
  }
  .about_right ul li div.left {
    width: 26%;
  }
  .section__container3 h3 {
  margin-left: 0rem;
  width: 100%;
  }
  .room__card {
    width: 45%;
  }
  .section__container3 {
    margin-left: 90px;
    margin-right: 0px;
    margin-top: 68px;
  }
  .btn-3 {
        width: 32%;
  }
  .footer__container {
    margin-left: 1rem;
  }
  .header__container > img:nth-child(7) {
        top: 79%;
        right: 24%;
}
  .banner__container {
    width: 80%;
  }
      .container {
        margin: 41px 31px;
        height: 100%;
    }
    .header__container > img:nth-child(1) {
    top: 24%;
    left: 31%;
    transform: translate(-50%, -50%);
}
.header__container > img:nth-child(6) {
    top: 57%;
    right: 70%;
    transform: translate(-50%, -50%);
}
.header__container > img:nth-child(3) {
    top: 79%;
    left: 34%;
    transform: translate(-50%, -50%);
}
#about {
    margin-top: 3rem;
}
  
}
/* ..............................................680px.............................. */
@media all and (max-width:680px) {
  .nav__header {
    margin-top: 18px;
  }
      .header__btns {
        width: 85%;
    }
        .about_right {
        width: 100%;
        margin-left: 5rem;
    }
        .btn-3 {
        width: 37%;
    }

}
/* ..............................................640px...................................... */
@media all and (max-width:640px) {
      header.header__btns {
        width: 85%;
    }
}
/* ................................................541px......................................... */
/* @media all and (max-width:541px) {
      header div.header__btns {
        width: 100%;
    }
} */
/* .................................................500px............................................ */
@media (max-width:500px) {

      /* div.bgdraw {
        background-image: url(../images/oooscillate\ \(4\).svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 34vh;
        margin-top: -8rem;
    } */
      header.section__container {
        height: 40vh;
      }
    .header__container h1 {
        margin-top: 10px;
        font-size: 37px;
        letter-spacing: -2px;
        width: 100%;
        line-height: 46px;
    }
        .btn {
    }
    .header__container > img:nth-child(4) {
    top: 23%;
    right: 21%;
    transform: translate(-50%, -50%);
}
      #about {
        margin-top: 0rem;
    }
    .about_right ul li {
    display: flex
;
    align-items: center;
    background-color: var(--about-clr);
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: -6px;
    padding-top: 30px;
    padding-right: 43px;
    padding-bottom: 14px;
    width: 95%;
}
.logos {
    margin-bottom: 18px;
}
.section__container3 h6 {
  margin-bottom: 2rem;
}

    .header__container h2 {
        font-size: 10px;
        padding: 1px 10px;
    }
 #about {
        margin-top: 4rem;
    }
      .header__container h2 {
        font-size: 10px;
        padding: 6px 10px;
    }
    .section__container {
      margin-left: 0;
      margin-right: 0;
    
}
.header__container p {
  display: none;
}
.btn {
        margin-left: 10rem;
    }

    .header__btns {
        width: 100%;
    }

        .about_right {
        width: 100%;
        margin-left: 4rem;
    }
        .about_right ul li div.left {
        width: 54%;
    }
        .section__container3 {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
        .section__container3 h3 {
        margin-left: 1rem;
        width: 100%;
        line-height: 43px;
        font-size: 37px;
    }
        .room__card {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #gallery {
      padding: 0;
    }
    #gallery ul li:nth-child(even) {
    margin-top: 0px;
}
#gallery ul li {
    width: 23%;
    margin-right: 7px;
    margin-bottom: 12px;
}
    #gallery {
        padding: 0;
        margin-left: 36px;
        margin-right: 24px;
        margin-top: 99px;
    }
        .btn-3 {
        width: 44%;
    }
    #gallery ul {
      margin-bottom: 11px;
    }
    .subscribe__content .section__header {
    margin-bottom: 2rem;
    max-width: 750px;
    margin-inline: auto;
    color: var(--white);
    font-size: 28px;
}
    .footer__container {
        margin-left: 1rem;
        display: block;
        text-align: center;
    }
        .about_right {
        width: 100%;
        margin-left: 2rem;
    }

    .banner__card h4 {
    font-size: 26px;
    font-weight: 500;
    color: var(--primary-color);
}
}
/* ...............................................445px......................................... */
@media all and (max-width:445px) {
      .header__btns {
        width: 40%;
    }
div.bgdraw {
  display: none;
  min-height: 0;
  
}
    #about {
        margin-top: 4rem;
    }
    .footer__socials a {
      display: none;
    }
        .header__btns {
        width: 39%;
    }
}
/* ....................................................444px................................................... */
@media all and (max-width:444px) {
      .header__container h1 {
        font-size: 33px;
      }
          .btn {
        margin-left: 27;
        margin-left: 30px;
    }
            #about {
        margin-top: 0rem;
    }
        .btn-3 {
        width: 50%;
    }
        .banner__container {
        width: 88%;
    }
        #about {
        margin-top: 3rem;
    }
}
/* ....................................................... 425px..................................................... */

@media all and (max-width:425px) {
  div.bgdraw {
    display: none;
  min-height: 0;
  
}
    .banner__container {
        width: 88%;
    }
    .header__container h1 {
        margin-top: 10px;
        font-size: 33px;
        letter-spacing: -2px;
        width: 97%;
        line-height: 46px;
    }
        .header__container > img:nth-child(7) {
        top: 80%;
        right: 21%;
    }
        .header__container > img:nth-child(3) {
        top: 79%;
        left: 32%;
        transform: translate(-50%, -50%);
    }
 #about {
        margin-top: -2rem;
    }
        .about_right h3 {
        width: 96%;
    }
     .header__container h2 {
        font-size: 8px;
        padding: 6px 10px;
        width: 100%;
      }
  .section__container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header__container h2 {
      font-size: 9px;
      width: 100%;
      padding: 6px 14px;
  }
  .header__container h1 {
        font-size: 2.3rem;
        letter-spacing: -2px;
        width: 100%;
        line-height: 32px;
  }
  .header__container p {
    display: none;
  }
  .btn {
            margin-left: 4rem;
  }
      .header__btns {
        width: 72%;
      }
          div.icons {
        margin-top: -8rem;
    }
        .about_right {
        width: 100%;
        margin-left: 4rem;
    }
    div.bgdraw img {
      top: 200px;
    }
        .about_right ul li div.left {
        width: 88%;
    }
    .about_right ul li div.right p {
      font-size: 12px;
    }
        .section__container3 h3 {
        width: 93%;
        font-size: 32px;
        line-height: 33px;
    }
        .room__card {
        width: 100%;
    }
        .section__container3 {
        margin-left: 26px;
        margin-right: 23px;
        margin-top: 68px;
    }
    #gallery ul li {
    width: 21%;
    margin-right: 7px;
    margin-bottom: 6px;
}
#gallery ul li:nth-child(even) {
    margin-top: 0px;
}
#gallery {
  
  padding: 0px;
    margin-top: 100px;
    margin-left: 42px;
}
#gallery ul {
  margin-bottom: 14px;
}
    .btn-3 {
        width: 53%;
    }
    .subscribe__content .section__header {
    margin-bottom: 0rem;
    font-size: 29px;
    max-width: 750px;
    margin-inline: auto;
    color: var(--white);
    margin-bottom: 23px;
}
    .footer__container {
        margin-left: 1rem;
        display: block;
        text-align: center;
    }
    .footer__socials {
      display: none;
    }
    .logos-slide img {
    height: 116px;
    margin: 0px 51px;
    width: 30%;
}
}
/* ..........................................424px......................................................... */
@media all and (max-width:424px) {
      #about {
        margin-top: 2rem;
    }
        .header__btns {
        width: 58%;
    }
        .about_right {
        width: 100%;
        margin-left: 2rem;
    }
}
/* ...............................................424px...................................................... */
@media all and (max-width:420px) {
  
  div.bgdraw {
  min-height: 0;
  display: none;
  
}
    .banner__container {
        width: 88%;
    }
    .header__container h1 {
        margin-top: 10px;
        font-size: 33px;
        letter-spacing: -2px;
        width: 97%;
        line-height: 46px;
    }
        .header__container > img:nth-child(7) {
        top: 80%;
        right: 21%;
    }
        .header__container > img:nth-child(3) {
        top: 79%;
        left: 32%;
        transform: translate(-50%, -50%);
    }
 #about {
        margin-top: 2rem;
    }
        .about_right h3 {
        width: 96%;
    }
     .header__container h2 {
        font-size: 8px;
        padding: 6px 10px;
        width: 100%;
      }
  .section__container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header__container h2 {
      font-size: 9px;
      width: 100%;
      padding: 6px 14px;
  }
  .header__container h1 {
        font-size: 2.3rem;
        letter-spacing: -2px;
        width: 100%;
        line-height: 32px;
  }
  .header__container p {
    display: none;
  }
  .btn {
            margin-left: 4rem;
  }
      .header__btns {
        width: 58%;
      }
          div.icons {
        margin-top: -8rem;
    }
        .about_right {
        width: 100%;
        margin-left: 2rem;
    
    }
    div.bgdraw img {
      top: 200px;
    }
        .about_right ul li div.left {
        width: 88%;
    }
    .about_right ul li div.right p {
      font-size: 12px;
    }
        .section__container3 h3 {
        width: 93%;
        font-size: 32px;
        line-height: 33px;
    }
        .room__card {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
        .section__container3 {
        margin-left: 26px;
        margin-right: 23px;
        margin-top: 68px;
    }
    #gallery ul li {
    width: 21%;
    margin-right: 7px;
    margin-bottom: 6px;
}
#gallery ul li:nth-child(even) {
    margin-top: 0px;
}
#gallery {
  
  padding: 0px;
    margin-top: 100px;
    margin-left: 42px;
}
#gallery ul {
  margin-bottom: 14px;
}
    .btn-3 {
        width: 53%;
    }
    .subscribe__content .section__header {
    margin-bottom: 0rem;
    font-size: 29px;
    max-width: 750px;
    margin-inline: auto;
    color: var(--white);
    margin-bottom: 23px;
}
    .footer__container {
        margin-left: 1rem;
        display: block;
        text-align: center;
    }
    .footer__socials {
      display: none;
    }
    .logos-slide img {
    height: 116px;
    margin: 0px 51px;
    width: 30%;
}
}
/* ..............................................................360px....................................... */
@media all and (max-width:375px) {
      header div.header__btns {
        width: 65%;
    }
  div.bgdraw {
  min-height: 0;
  display: none;
  
}
    .header__container h2 {
        font-size: 9px;
        width: 100%;
        padding: 1px 10px;
    }
        #about {
        margin-top: 2rem;
    }
      .header__btns {
        width: 72%;
    }
        .about_right h3 {
        width: 100%;
        font-size: 30px;
        line-height: 34px;
    }
        .about_right ul li div.right p {
        font-size: 10px;
    }
    .logos-slide img {
    height: 116px;
    margin: 0px 51px;
    width: 30%;
    }
    .about_right {
        width: 100%;
        margin-left: 2rem;
    }
        .btn-3 {
        width: 61%;
    }
        .room__card {
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
        .banner__container {
        width: 100%;
    }
}
/* .......................................320px......................................... */
@media all and (max-width:320px) {
      header div.header__btns {
        width: 71%;
    }
        .btn-3 {
        width: 70%;
    }
}

/* @media all and (max-width:425px) {
      .header__container h2 {
        font-size: 8px;
        padding: 6px 10px;
        width: 100%;
      }
  .section__container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header__container h2 {
      font-size: 9px;
      width: 100%;
      padding: 6px 14px;
  }
  .header__container h1 {
        font-size: 2.3rem;
        letter-spacing: -2px;
        width: 100%;
        line-height: 32px;
  }
  .header__container p {
    display: none;
  }
  .btn {
    margin-left: 0rem;
  }
      .header__btns {
        width: 72%;
      }
          div.icons {
        margin-top: -8rem;
    }
        .about_right {
        width: 100%;
        margin-left: 4rem;
    }
} */



.bgdraw {
  background-image: url(../images/oooscillate\ \(4\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -25rem;
}